.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
project.properties
.gradle/2.2/taskArtifacts/cache.properties.lock
git.iml
out/production/git/com/example/Camera/R$anim.class
out/production/git/com/example/Camera/R$attr.class
out/production/git/com/example/Camera/R$drawable.class
out/production/git/com/example/Camera/R$id.class
out/production/git/com/example/Camera/R$layout.class
out/production/git/com/example/Camera/R$string.class
out/production/git/com/example/Camera/R$styleable.class
out/production/git/com/example/Camera/R.class
out/production/git/com/example/Camera/activities/CameraActivity.class
out/production/git/com/example/Camera/activities/EditActivity.class
out/production/git/com/example/Camera/activities/PreviewActivity.class
out/production/git/com/example/Camera/activities/SocialActivity.class
out/production/git/com/example/Camera/activities/UploadActivity.class
out/production/git/git.apk
out/production/git/layout/edit.xml
