/.idea/gradle.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/libs/android-support-v4.jar
/out/production/Camera/Camera.unaligned.apk
